ion-header {
  background-color: #0077b6; /* Dark background for header */
}

ion-toolbar {
  --color: white; /* White text for toolbar */
}

ion-item {
  font-size: 18px;
  padding: 10px;
}

ion-button {
  margin: 10px;
}
